Repository gamemanual0/gm0, pull requests merged in 2023-01, with the labels that each got.

#331 Fix code sample in Finite State Machines page
  source/docs/software/concepts/finite-state-machines.rst
Labels: Type: Cleanup, Software

#334 Update LinearOpMode vs OpMode to match SDK 8.1
  source/docs/software/getting-started/linear-opmode-vs-opmode.rst
Labels: Type: Cleanup, Software

#335 Update how the SDK handles exceptions
  source/docs/software/getting-started/common-issues.rst
Labels: Type: Cleanup, Software

#336 fix some typos
  source/docs/common-mechanisms/drivetrains/holonomic.rst
  source/docs/common-mechanisms/power-transmission/motion-mounting.rst
  source/docs/design-skills/engineering-design-process.rst
  source/docs/hardware-components/tips-and-tricks.rst
  source/docs/software/getting-started/common-issues.rst
Labels: Type: Cleanup

#338 Update field centric drive sample
  source/docs/software/tutorials/mecanum-drive.rst
Labels: Type: Cleanup, Software

#339 Fix incorrect information about initialization of the new IMU interface
  source/docs/software/tutorials/mecanum-drive.rst
Labels: Type: Cleanup, Software

#341 Update common-hardware-components.rst
  source/docs/software/getting-started/common-hardware-components.rst
Labels: Type: Spelling/Grammar, Software
